@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar style */
.nav_bar a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.nav_bar a:hover {
    color: #FF6B00;
}