.socalMedia{
    position: absolute;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    background: rgba(255, 107, 0, 0.7);
    border-radius: 0px 106.5px 0px 0px;
    padding: 20px;
}
